<section>
  <form
    [formGroup]="newByproductForm"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
  >
    <mat-form-field appearance="outline">
      <mat-label>Naziv</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error>Morate uneti naziv nusproizvoda</mat-error>
    </mat-form-field>
    <mat-form-field appereance="standard" appearance="outline">
      <mat-label>Težina po jed. mere</mat-label>
      <input matInput type="number" formControlName="weightByUM" />
      <mat-error>Morate uneti težinu po jedinici mere veću od 0.</mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Jedinica mere</mat-label>
      <mat-select matInput formControlName="measurementUnit">
        <mat-option *ngFor="let um of measurementUnits" [value]="um.id">{{
          um.name
        }}</mat-option>
      </mat-select>
      <mat-error>Morate izbrati jedinicu mere.</mat-error>
    </mat-form-field>
    <button
      type="button"
      mat-raised-button
      (click)="addByproduct()"
      [disabled]="newByproductForm.invalid"
    >
      Dodaj nusproizvod
    </button>
  </form>
</section>
