<div class="content">
  <section>
    <form
      [formGroup]="newByproductForm"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
      fxLayoutGap="30px"
    >
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Naziv</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error>Morate uneti naziv nusproizvoda</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" appereance="standard" appearance="outline">
        <mat-label>Količina po jedinici mere</mat-label>
        <input matInput type="number" formControlName="weightByUM" />
        <mat-error
          *ngIf="newByproductForm.get('weightByUM').hasError('required')"
          >Morate uneti količinu po jedinici mere.</mat-error
        >
        <mat-error
          *ngIf="!newByproductForm.get('weightByUM').hasError('required')"
          >Količina po jedinici mere mora biti minimum 1.</mat-error
        >
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Jedinica mere</mat-label>
        <mat-select matInput formControlName="measurementUnit">
          <mat-option *ngFor="let um of measurementUnits" [value]="um.id">{{
            um.name
          }}</mat-option>
        </mat-select>
        <mat-error>Morate izbrati jedinicu mere.</mat-error>
      </mat-form-field>
      <button
        type="button"
        mat-raised-button
        color="accent"
        (click)="addByproduct()"
        [disabled]="newByproductForm.invalid"
      >
        Dodaj nusproizvod
      </button>
    </form>
  </section>
  <section fxLayout = "row" fxLayoutAlign = "center center">
    <mat-table [dataSource]="dataSource" fxFlex>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id | number}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Naziv</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Težina po JM</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">{{ element.weightPerUM | number }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="measurementUnit">
        <mat-header-cell mat-header-cell *matHeaderCellDef>JM</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          {{ element.measurementUnit.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="warehouse">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Skladište</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">{{ element.warehouse?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Količina</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">{{ element.quantity | number }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Izmeni</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEditByproduct(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Obriši</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onDeleteByproduct(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </section>
</div>
